[submodule "jni/external/ffmpeg"]
	path = jni/external/ffmpeg
	url = ssh://git@repository.kurento.com/external/ffmpeg.git
[submodule "jni/external/x264"]
	path = jni/external/x264
	url = ssh://git@repository.kurento.com/external/x264.git
[submodule "jni/external/opencore-amr"]
	path = jni/external/opencore-amr
	url = ssh://git@repository.kurento.com/external/opencore-amr.git
